  body {
    margin: 0;
    padding: 0;
    overflow: hidden;
  }

  canvas {
    position: absolute;
    left: 0;
    right: 0;
  }

  #score {
    position: fixed;
    z-index: 10;
    color: white;
    left: 10px;
    top: 10px;
    margin: 0;
    font-family: sans-serif;
    font-size: 14px;
  }

  #life {
    padding-top: 20px;
    position: fixed;
    z-index: 10;
    color: white;
    left: 10px;
    top: 10px;
    margin: 0;
    font-family: sans-serif;
    font-size: 14px;
  }

  .game-intro {
    background-image: url('../images/Start game.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
  }

  .start-button {
    font-size: 1rem;
    padding: 0.8em 2em;
    background-color: #000;
    border: 3px solid yellow;
    border-radius: 1em;
    color: white;
    font-weight: bolder;
    transition: cubic-bezier(0.68, -0.55, 0.265, 1.55) 0.4s;
    box-shadow: -5px 5px 0px 0px yellow;
    text-align: center;
    display: grid;
    background-color: transparent;
    margin: 0;
    position: absolute;
    top: 80%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }

  .playAgain {
    text-align: center;
    display: grid;
    background-color: transparent;
    margin: 0;
    position: absolute;
    top: 20%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    font-size: 1rem;
    padding: 0.8em 2em;
    background-color: #000;
    border: 3px solid yellow;
    border-radius: 1em;
    color: #fff;
    font-weight: bolder;
    transition: cubic-bezier(0.68, -0.55, 0.265, 1.55) 0.4s;
    box-shadow: -5px 5px 0px 0px yellow;

  }

  .tryAgain {
    text-align: center;
    display: grid;
    background-color: transparent;
    margin: 0;
    position: absolute;
    top: 80%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    --glow-color: rgb(176, 192, 255);
    --glow-spread-color: rgba(125, 123, 255, 0.781);
    --enhanced-glow-color: rgb(206, 225, 255);
    --btn-color: rgb(61, 126, 136);
    border: .25em solid var(--glow-color);
    padding: 1em 3em;
    color: var(--glow-color);
    font-size: 15px;
    font-weight: bold;
    background-color: var(--btn-color);
    border-radius: 1em;
    outline: none;
    box-shadow: 0 0 1em .25em var(--glow-color),
      0 0 4em 1em var(--glow-spread-color),
      inset 0 0 .75em .25em var(--glow-color);
    text-shadow: 0 0 .5em var(--glow-color);
    position: relative;
    transition: all 0.3s;
  }

  .tryAgain::after {
    color: var(--btn-color);
    background-color: var(--glow-color);
    box-shadow: 0 0 1em .25em var(--glow-color),
      0 0 4em 2em var(--glow-spread-color),
      inset 0 0 .75em .25em var(--glow-color);
  }

  .tryAgain:hover {
    color: var(--btn-color);
    background-color: var(--glow-color);
    box-shadow: 0 0 1em .25em var(--glow-color),
      0 0 4em 2em var(--glow-spread-color),
      inset 0 0 .75em .25em var(--glow-color);
  }

  .tryAgain:active {
    box-shadow: 0 0 0.6em .25em var(--glow-color),
      0 0 2.5em 2em var(--glow-spread-color),
      inset 0 0 .5em .25em var(--glow-color);
  }

  .hide {
    display: none;
  }


  .you-lose {
    background-image: url('../images/Game\ Over.jpg');
    background-position: absolute;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
  }

  #showScore {
    color: white;
    font-size: 20px;
    font-family: sans-serif;
    text-align: center;
    display: grid;
    background-color: transparent;
    margin: 0;
    position: absolute;
    top: 70%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);



  }